.matchbigcard-rec-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.matchbigcard {
  width: 375px;
  height: 567px;
  margin-top: auto;
  border: 1px solid blue;
  box-sizing: border-box;
}