@import '../../styles/variables.scss';

.matchbigcard-rec-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.matchbigcard {
  width: 375px;
  height: 567px;
  margin-top: auto;
  // border: 1px solid blue;
  background-color: red;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.18);
  @media screen and (max-width: $break-small) {
    width: 100%;
    height: 100%;
  }
}